/*Hide normal game*/
div#root {
  display: none !important;
}

.plasma-box-glow {
  box-shadow: 0px 3px 5px -1px var(--primary), 0px 5px 8px 0px var(--primary), 0px 1px 14px 0px var(--primary);
}

.plasma-box {
  border: 1px solid var(--welllight);
}

.plasma-box-inline {
  border-inline: 1px solid var(--welllight);
}

.plasma-box-block {
  border-block: 1px solid var(--welllight);
}

.plasma-box-top {
  border-top: 1px solid var(--welllight);
}

.plasma-box-bottom {
  border-bottom: 1px solid var(--welllight);
}

.plasma-button{
  cursor: pointer;
  user-select: none;
}

.plasma-button:hover {
  background-color: var(--well);
}

.plasma-button:active {
  background-color: var(--welllight);
}

.plasma-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
